.dot-grid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    background: transparent;
}

.dot-grid__wrap {
    width: 100%;
    height: 100%;
}

.dot-grid__canvas {
    width: 100%;
    height: 100%;
}